body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
    background-image: url("./img/geeks_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.second_text {
    background-color: white;
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.header_text {
    font-family: cursive;
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
